doctype html 
html
  head
    title Valo Pro
    block scripts
    block style
  body
    nav#navbar
      ul 
        div#logo
          img(src="/static/img/aim.png")
          | YGA                       
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Services]
        li #[a(href="/") Class Info]
        li #[a(href="/contact") Contact us]

    block content
    footer#footer 
        | Copyright © 2022  Cobaragaming.com | All rights reserved 